<!DOCTYPE html>
<html>
<head>
  <title>Realiser</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "realiser/application", media: "all" %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <%= link_to 'Realiser', root_path, class: 'navbar-brand' %>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
